*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 0;
}

body {
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}

/* Calculator styles */

.calc {
    position: absolute;
    width: 15.35%;
    min-height: 307px;
    height: 40.55%;
    background: #292f33;
    border-radius: 6px;
}

.field {
    top: 7%;
    right: 3%;
    color: white;
    position: absolute;
    width: 100%;
    height: 25%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 42px;
    text-align: right;
    font-family: 'Hind Madurai', sans-serif;
    letter-spacing: 2px;
}

/* Table styles */

table {
    position: relative;
    top: 25%;
    border-spacing: 0;
}

td {
    padding: 0.5px;
}


/* Button styles */

button {
    width: 54.25px;
    height: 45px;
    border: 0;
    color: white;
    background: #606669;
    font-size: 20px;
}

button:active {
    background: #9b9da0;
}

/* First row without last cell */
.first__row button:not(.sign){
    background: #3d4246;
}

.first__row button:not(.sign):active {
    background: #606669;
}

/* Last column */
.sign {
    padding-top: 0;
    font-size: 22px;
    background: #ff9f28;
}

.sign:active {
    background: #cb7e1e;
}

/* Last cell in last column */
#equiv {
    background: #ff9f28;
    border-bottom-right-radius: 5px;
}

#equiv:active {
    background: #cb7e1e;
}

/* First cell in last row */
.doubled {
    width: 100%;
    border-bottom-left-radius: 5px;
}

#long {
    position: absolute;
    width: 50%;
}

/* Two last cells in last row */
.move {
    position: relative;
    left: 102.2%;
}