*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 0;
    margin: 0; 
}

body {
    background: gray;
}

/* Calculator styles */

.calc {
    position: absolute;
    width: 15.35%;
    min-height: 300px;
    height: 40.85%;
    background: #292f33;
    border-radius: 5px;
}

.field {
    position: absolute;
    width: 100%;
    height: 25%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

/* Table styles */

table {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 5;
    position: relative;
    top: 25%;
    border-spacing: 0;
}

td {
    padding: 0.5px;
}


/* Button styles */

button {
    width: 54.25px;
    height: 45px;
    border: 0;
    color: white;
    background: #606669;
    font-size: 20px;
}

button:active {
    background: lightgray;
}

.first__row button:not(.last__column){
    background: #3d4246;
}

.last__column {
    background: #ff9f28;
}

#circle__left {
    border-bottom-left-radius: 5px;
}

#circle__right {
    background: #ff9f28;
    border-bottom-right-radius: 5px;
}

.doubled {
    width: 202.275%;
}

.move {
    position: relative;
    left: 102.275%;
}